/* Global Styles & Reset */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for a sleeker look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f3ef; 
}

::-webkit-scrollbar-thumb {
  background: #a67c52; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c6242; 
}